footer{
    display: flex;
    gap: 24px;
    padding-block: 24px;
    font:14px/150% var(--font-family);
}

footer span:nth-child(1){
    margin-right: auto;
}

@media (width <= 30em){
    footer{
        display: grid;
        & span:first-child{
            grid-column: 1/3;
            margin: auto;
        }
        & span:nth-child(2){
            margin-left: auto;
        }
    }
}