main{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}
main img{
    width: 287px;
    height: 287px;
       object-fit: cover;
}
@media (width <= 30em){
    main{
        display: grid;
        & img{
            width: 100%;
        }
    }
}